<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1><i class="bi bi-info-circle"></i>&nbsp;Subgrupo de Produtos</h1>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="row g-3 align-items-center">
              <div class="col-6">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="pesquisa"
                    placeholder="Pesquise por termos aqui..."
                  />
                </div>
              </div>
              <div class="col-6 float-end">
                <a class="btn btn-primary float-end" href="#" role="button">
                  <i class="bi bi-plus-lg"></i>
                  Adicionar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Status</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
