<div class="sidebar-container shadow">
  <div class="sidebar-logo">
    Project Name
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Principal</li>
    <li>
      <a class=" text-decoration-none" href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a class=" text-decoration-none" href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Pedidos
      </a>
    </li>
    <li class="header">Essencial</li>
    <li>
      <a class=" text-decoration-none" href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Fornecedores
      </a>
    </li>
    <li>
      <a class=" text-decoration-none" href="#">
        <i class="fa fa-cog" aria-hidden="true"></i> Produtos
      </a>
    </li>
    <li>
      <a class=" text-decoration-none" href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Pagamento
      </a>
    </li>
  </ul>
</div>
