<div class="content-container">
  <div class="container-fluid">
    <h1 *ngIf="isAddMode">Adicionar: Fornecedor</h1>
    <h1 *ngIf="!isAddMode">Atualizar: Fornecedor</h1>
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h4><b>Dados da Empresa:</b></h4>
          <hr />
          <div class="row align-items-center">
            <div class="form-group col-6">
              <label>Nome Fantasia</label>
              <input
                type="text"
                formControlName="nomeFantasia"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nomeFantasia.errors }"
              />
              <div
                *ngIf="submitted && f.nomeFantasia.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.nomeFantasia.errors.required">
                  Nome Fantasia é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label>Razão Social</label>
              <input
                type="text"
                formControlName="razaoSocial"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.razaoSocial.errors }"
              />
              <div
                *ngIf="submitted && f.razaoSocial.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.razaoSocial.errors.required">
                  Razão Social é um campo obrigatório.
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="form-group col-4">
              <label>CNPJ</label>
              <input
                type="text"
                formControlName="cnpj"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.cnpj.errors }"
              />
              <div *ngIf="submitted && f.cnpj.errors" class="invalid-feedback">
                <div *ngIf="f.cnpj.errors.required">
                  CNPJ é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group col-4">
              <label>Inscrição Estadual</label>
              <input
                type="text"
                formControlName="inscricaoEstadual"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f.inscricaoEstadual.errors
                }"
              />
              <div
                *ngIf="submitted && f.inscricaoEstadual.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.inscricaoEstadual.errors.required">
                  Inscrição Estadual é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group col-4">
              <label>Telefone</label>
              <input
                type="text"
                formControlName="telefoneFixo"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.telefoneFixo.errors }"
              />
              <div
                *ngIf="submitted && f.telefoneFixo.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.telefoneFixo.errors.required">
                  Telefone é um campo obrigatório.
                </div>
              </div>
            </div>
          </div>
          <br />
          <h4><b>Endereço:</b></h4>
          <hr />
          <div formGroupName="endereco">
            <div class="row align-items-center">
              <div class="form-group col-5">
                <label>Logradouro</label>
                <input
                  type="text"
                  formControlName="endereco"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && g.endereco.errors
                  }"
                />
                <div
                  *ngIf="submitted && g.endereco.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="g.endereco.errors.required">
                    Logradouro é um campo obrigatório.
                  </div>
                </div>
              </div>
              <div class="form-group col-3">
                <label>Número</label>
                <input
                  type="text"
                  formControlName="numero"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && g.numero.errors }"
                />
                <div
                  *ngIf="submitted && g.numero.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="g.numero.errors.required">
                    Número é um campo obrigatório.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Bairro</label>
                <input
                  type="text"
                  formControlName="bairro"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && g.bairro.errors }"
                />
                <div
                  *ngIf="submitted && g.bairro.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="g.bairro.errors.required">
                    Bairro é um campo obrigatório.
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="form-group col-4">
                <label>Municipio</label>
                <input
                  type="text"
                  formControlName="municipio"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && g.municipio.errors
                  }"
                />
                <div
                  *ngIf="submitted && g.municipio.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="g.municipio.errors.required">
                    Municipio é um campo obrigatório.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>Estado</label>
                <input
                  type="text"
                  formControlName="estado"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && g.estado.errors }"
                />
                <div
                  *ngIf="submitted && g.estado.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="g.estado.errors.required">
                    Estado é um campo obrigatório.
                  </div>
                </div>
              </div>
              <div class="form-group col-4">
                <label>CEP</label>
                <input
                  type="text"
                  formControlName="cep"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && g.cep.errors }"
                />
                <div *ngIf="submitted && g.cep.errors" class="invalid-feedback">
                  <div *ngIf="g.cep.errors.required">
                    CEP é um campo obrigatório.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <h4><b>Categoria:</b></h4>
          <hr />
          <div class="row align-items-center">
            <div class="form-group col-6">
              <label for="age">Tipo de Fornecedor</label>
              <ng-select #tipoProdutoSelect
                [items]="list1"
                [selectOnTab]="true"
                notFoundText="Nenhuma informação encontrada"
                bindLabel="descricao"
                labelForId="descricao"
                placeholder="Selecione"
                formControlName="tipoFornecedor"
                [ngClass]="{
                  'is-invalid': submitted && f.tipoFornecedor.errors
                }"
              >
              </ng-select>
              <div
                *ngIf="submitted && f.tipoFornecedor.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.tipoFornecedor.errors.required">
                  Tipo de Fornecedor é um campo obrigatório.
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="age">Grupo de Fornecedor</label>
              <ng-select
                [items]="list2"
                [selectOnTab]="true"
                notFoundText="Nenhuma informação encontrada"
                bindLabel="descricao"
                labelForId="descricao"
                placeholder="Selecione"
                formControlName="grupoFornecedor"
                [ngClass]="{
                  'is-invalid': submitted && f.grupoFornecedor.errors
                }"
              >
              </ng-select>
              <div
                *ngIf="submitted && f.grupoFornecedor.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.grupoFornecedor.errors.required">
                  Grupo de Fornecedor é um campo obrigatório.
                </div>
              </div>
            </div>
          </div>
          <br />
          <hr />
          <div class="form-group py-3">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Save</button
            >&nbsp;
            <a routerLink="/Compras/Fornecedores" class="btn btn-outline-primary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
