<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1><i class="bi bi-box"></i>&nbsp;Produtos</h1>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  id="pesquisa"
                  placeholder="Pesquise por termos aqui..."
                />
              </div>
              <div class="col-3">
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="update"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
              </div>
              <div class="col-4">
                <div class="dropdown float-end px-1">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropDownProductMenu"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-clipboard"></i>
                    Básico
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropDownProductMenu"
                  >
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Compras/Produtos/tipo"
                        >Tipo de Produto</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Compras/Produtos/grupo"
                        >Grupo de Produto</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/Compras/Produtos/cor"
                        >Cor de Produto</a
                      >
                    </li>
                  </ul>
                </div>
                <a class="btn btn-primary float-end" routerLink="/Compras/Produtos/add" role="button">
                  <i class="bi bi-plus-lg"></i>
                  Adicionar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Operações</th>
                  <th>ID</th>
                  <th>Cod. de Barras</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of list; let i = index">
                  <td style="width: 15%; text-align: center">
                    <button
                      type="button"
                      ngbTooltip="Deletar"
                      (click)="delete(x.idProduto)"
                      class="btn btn-danger btn-sm align-items-center mx-1"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                    <button
                      type="button"
                      placement="top"
                      ngbTooltip="Editar"
                      (click)="update(x.idProduto)"
                      class="
                        btn btn-secondary
                        mx-1
                        btn-circle btn-sm
                        align-items-center
                      "
                    >
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                    <button
                      type="button"
                      placement="top"
                      ngbTooltip="Visualizar"
                      (click)="details(x.idProduto)"
                      class="
                        btn btn-warning
                        mx-1
                        btn-circle btn-sm
                        align-items-center
                      "
                    >
                      <i class="bi bi-box-arrow-in-down-right"></i>
                    </button>
                  </td>
                  <td>{{ x.idProduto }}</td>
                  <td>{{ x.codigoBarras }}</td>
                  <td>{{ x.descricao }}</td>
                  <td>
                    {{
                      x.valor.toLocaleString("pt-BR", {
                        style: "currency",
                        currency: "BRL"
                      })
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
