<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1><i class="bi bi-info-circle"></i>&nbsp;Solicitantes</h1>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="row g-3 align-items-center">
              <div class="col-6">
                <input
                  type="text"
                  class="form-control"
                  id="pesquisa"
                  placeholder="Pesquise por termos aqui..."
                />
              </div>
              <div class="col-6">
                <a
                  class="btn btn-primary float-end"
                  routerLink="/Compras/Solicitantes/add"
                  role="button"
                >
                  <i class="bi bi-plus-lg"></i>
                  Adicionar</a
                >
                <div class="float-end px-1">
                  <a
                    class="btn btn-secondary"
                    routerLink="/Compras/"
                    role="button"
                  >
                    <i class="bi bi-arrow-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col py-3">
        <div class="card shadow" *ngIf="this.list.length > 0">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>OP</th>
                  <th>Sit</th>
                  <th>ID Lib.</th>
                  <th>Usuário</th>
                  <th>Nivel</th>
                  <th>Saldo Disp.</th>
                  <th>Data Inicio</th>
                  <th>Data Fim</th>
                  <th>Ativo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of list; let i = index">
                  <td style="width: 10%; text-align: center">
                    <button
                      type="button"
                      ngbTooltip="Deletar"
                      (click)="delete(x.idSolicitante)"
                      class="btn btn-danger btn-sm align-items-center mx-1"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                    <button
                      type="button"
                      placement="top"
                      ngbTooltip="Editar"
                      (click)="update(x.idSolicitante)"
                      class="
                        btn btn-secondary
                        mx-1
                        btn-circle btn-sm
                        align-items-center
                      "
                    >
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </td>
                  <td style="width: 2%">
                    <button
                      class="btn btn-circle btn-sm align-items-center mx-1"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ x.ativo == true ? 'ATIVO' : 'INATIVO' }}"
                      [ngClass]="{
                        'btn-success': x.ativo == true,
                        'btn-danger': x.ativo == false
                      }"
                    ></button>
                  </td>
                  <td>{{ x.idSolicitante }}</td>
                  <td>{{ x.login.login }}</td>
                  <td>{{ x.nivel }}</td>
                  <td>
                    {{
                      x.valorDisponivel === null
                        ? "SEM LIMITE"
                        : x.valorDisponivel.toLocaleString("pt-BR", {
                            style: "currency",
                            currency: "BRL"
                          })
                    }}
                  </td>
                  <td>{{ x.dataInicio | date: "dd/MM/yyyy" }}</td>
                  <td>{{ x.dataFim | date: "dd/MM/yyyy" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <noRecordsFound *ngIf="this.list.length < 1"></noRecordsFound>
      </div>
    </div>
  </div>
</div>
